@using PBDE401.Utility
<!DOCTYPE html>
<html lang="en">
<html lang="en">
<!DOCTYPE html>
<head>
    <title>@ViewBag.Title - GamersMed Pharmacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Medi Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
        SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- ChatBot Style -->
    <link href="~/Template/css/chatstyle.css" type="text/css" rel="stylesheet" media="all">
    <!-- ChatBot Style -->

    <!-- Custom Theme files -->
    <link href="~/Template/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Template/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Template/css/component.css" rel="stylesheet" type="text/css" />
    <link href="~/Template/css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/Template/js/jquery-1.11.1.min.js"></script>
    <script src="~/Template/js/modernizr.custom.js"></script>
    <!-- //js -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //web fonts -->
</head>
<body class="cbp-spmenu-push">

    
    <!-- banner -->
    <div class="banner">
        <!-- header -->
        <div class="w3ls-header">
            <div class="container">
                <div class="agile-logo">
                    <h1><a href="/">GamersMed Pharmacy</a></h1>
                </div>
                <div class="top-nav">

                    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                        <h3>Menu</h3>
                        @Html.ActionLink("Home", "Index", "Home")
                        @Html.ActionLink("About Us", "About", "Home")
                        @Html.ActionLink("Contact Us", "Contact", "Home")
                        @Html.ActionLink("Medications", "Medications", "Home")
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Subscription Status", "Index", "Prescription")</li>
                                @if (User.IsInRole(SD.DoctorRole))
                                {
                                    @Html.Partial("_AdminMenuPartial")
                                }
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </nav>
                    <div class="main buttonset">
                        <!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
                        <button id="showRightPush"><img src="~/Template/images/menu-icon.png" alt="" /></button>
                        <!-- <span class="menu"></span> -->
                    </div>
                    <!-- script-for-drop down -->
                    <script>
                        $("a.menu-icon").click(function () {
                            $("ul.nav1").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- //script-for-dropdown -->

                    <script src="~/Template/js/classie.js"></script>
                    <script>
                        var menuRight = document.getElementById('cbp-spmenu-s2'),
                            showRightPush = document.getElementById('showRightPush'),
                            body = document.body;

                        showRightPush.onclick = function () {
                            classie.toggle(this, 'active');
                            classie.toggle(body, 'cbp-spmenu-push-toleft');
                            classie.toggle(menuRight, 'cbp-spmenu-open');
                            disableOther('showRightPush');
                        };

                        function disableOther(button) {
                            if (button !== 'showRightPush') {
                                classie.toggle(showRightPush, 'disabled');
                            }
                        }
                    </script>
                    <!-- /script-for-menu -->
                </div>
            </div>
        </div>
        <!-- //header -->
        <div class="banner-text">
            <h3>WELCOME TO GAMERSMED PHARMACY</h3>
            <h4>We offer free shiping and delivery upon approval of prescription. In the event that you are unable to fetch your medication at the pharmacy physically please contact us using the information below. Anywhere in South Africa.</h4>
            <br /><h4>Contact Us</h4>
            <h5><i class="fa fa-phone" aria-hidden="true"></i> <span>+27 31 234 5678</span></h5>
            <h5><i class="fa fa-envelope-o" aria-hidden="true"></i> <a class="email-link" href="mailto:example@mail.com">gamersmed@mail.com</a></h5>

        </div>
    </div>
    <!-- //banner -->
    <div class="hmw3layouts">
        <div class="container">
            <div class="col-md-5 hmw3layouts-left">
                <img src="~/Template/images/img1.jpg" alt="">
            </div>
            <div class="col-md-7 hmw3layouts-left w3right">
                <h5>How does cannabis medication help you?</h5>
                <p>
                    Medical cannabis is an increasingly popular alternative to traditional pain-relieving medications, including opioids. Cannabis may ease certain types of chronic pain, including pain resulting from nerve damage and inflammation. Today, chronic pain affects more people than cancer, heart disease, and diabetes combined.
                </p>
                <a class="btn btn-1 btn-1d scroll" href="#banner-bottom"> Read More </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <!-- ChatBot HTML -->
    <button class="open-button" onclick="openForm()">Chat to Us!</button>

    <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="chat-form-container">
            <iframe src="https://webchat.botframework.com/embed/Canni-Bot?s=Wf50KmnCgEg._o6PN8ZV5iq94ZpGLDQB3MfXBbNoo9Hdm4LQbIkiR8o"
                    style="height: 502px; max-height: 502px; width: 280px;"></iframe>

            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <!-- ChatBot HTML -->
    <!-- about -->
    <!-- footer -->
    <div class="footerw3-agile">
        <div class="col-md-4 footer-grids">
            <h3>Working Hours</h3>
            <ul>
                <li>Monday - Saturday:  10h00am - 21h00pm</li>
                <li>Sunday: By Special Appointment</li>
                <li>Public Holidays: 9h00am - 13h00pm</li>
            </ul>
        </div>
        <div class="col-md-4 footer-grids">
            <h2><a href="index.html">Thank you for visiting GamersMed Pharamcy!</a></h2>
            <p></p>
        </div>
        <div class="clearfix"> </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-left">
                <p> © 2022 GamersMed Pharamcy. All rights reserved | Designed by TechIQ</p>
            </div>
            <div class="footer-right">
                <ul class="w3-agileitsicons">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                    <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                </ul>
            </div>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })</script>
        </div>
    </div>
    <!-- //footer -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- ChatBot Js -->
    <script src="~/Template/js/chatjs.js"></script>
    <!-- ChatBot Js -->

    <script type="text/javascript" src="~/Template/js/numscroller-1.0.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Template/js/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
