@using PBDE401.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Template/LogIn_RegPages/css/style.css" rel="stylesheet" type='text/css' />*@

<br />
    <!--  particles  -->
    <div id="particles-js"></div>
    <!-- //particles -->
    <div class="row">
        <div">
            <center>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h1>Welcome Back</h1>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.Email, new { @class = "control-label" })*@
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.Password, new { @class = "control-label" })*@
                            <div>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                @*<div class="checkbox">*@
                                @Html.CheckBoxFor(m => m.RememberMe) &nbsp;
                                @Html.LabelFor(m => m.RememberMe)
                                @*</div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Log in" class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                @Html.ActionLink("Don't have an account? Sign Up!", "Register")
                            </div>
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                    }
                </section>
            </center>
        </div>
        <div class="col-md-4">

        </div>
    </div>

<!-- scripts required  for particle effect -->
@*<script src='~/Template/LogIn_RegPages/js/particles.min.js'></script>*@
<script src="~/Template/LogIn_RegPages/js/index.js"></script>
<!-- //scripts required for particle effect -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

