@model PBDE401.ViewModel.MedicineViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "Medicine", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Edit Medicine</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Medicine.Id)
        <div class="row" style="border:1px solid #bbb9b9; border-radius:5px;padding-top:25px;">
            <div class="col-sm-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.MedicalNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Medicine.MedicalNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Medicine.MedicalNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Medicine.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Medicine.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.Origin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Medicine.Origin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Medicine.Origin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Medicine.Description, new { @class = "form-control", style = "height:250px;" })
                        @Html.ValidationMessageFor(model => model.Medicine.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.Medicine.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Medicine.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Medicine.ImageUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <label class="control-label col-md-2" for="ImageUrl">Upload Image</label>
                    <div class="col-md-10">
                        <input type="file" name="file" id="ImageUpload" /> <br />
                        <img id="imgpreview" src="~/Uploads/@(Model.Medicine.ImageUrl)" width="200" height="200" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Medicine.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Medicine.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Medicine.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Medicine.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Medicine.DateAdded, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Medicine.DateAdded, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Medicine.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Medicine.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Medicine.ExpiryDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Medicine.ExpiryDate, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-sm-2">
                <div>
                    <img src="@Model.Medicine.ImageUrl" alt="" style="width:100%; height:auto" />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-success btn-sm" />
                @Html.Partial("_BackToListButtonPartial")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("img#imgpreview")
                        .attr("src", e.target.result)
                        .width(200)
                        .height(200);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
}